@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Aplicação de Testes da disciplina "Intergração Continua, DevOps e Computação em Nuvem"</a>.</p>
</div>
