USE [master]
GO
/****** Object:  Database [crud]    Script Date: 29/03/2024 22:05:26 ******/
CREATE DATABASE [crud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crud', FILENAME = N'/var/opt/mssql/data/crud.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'crud_log', FILENAME = N'/var/opt/mssql/data/crud_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crud]
GO
/****** Object:  Table [dbo].[Produto]    Script Date: 29/03/2024 22:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Preco] [float] NOT NULL,
	[Descricao] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
